.cart-main{
    margin: 6rem 4rem;
}
.quantity-input-cart {
    width: 2rem;
    height: 1.7rem;
    border: none;
    margin: none;
}

.quantity-btn-cart {
    height: 2rem;
    width: 100%;
    border: none;
    margin: none;
    cursor: pointer;
}

.card-img-cart {
    width: 5rem;
    height: 5rem;
    transition: transform 250ms;
    margin: 1rem;
   
}
.comodities-cart{
    margin-right:5rem;
}
.card-img-cart-product:hover{
    transform: translateY(-10px)
 }
.margin-top {
    margin: 0.5rem 0 !important;
}

.card-main {
    margin: 0 4px;
    padding: none;
    width: 10rem;
}

.divider {
    color: var(--primary);
    margin: 1rem 0;
}
.card-cart{
    display: flex;
    flex-wrap: wrap;
    max-width: 35rem;
    margin:1rem ;
    margin-bottom: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-primary{
    margin: none;
}
.para5{
    font-size: 12px;
}

.quantity-cart{
    width: 100%;
    margin-top: 1rem;
}

table{
    width: 100%;
    border-collapse: collapse;
      background-color: #F8F9FA;
    margin-bottom: 2rem;
  
}

th{
  padding: 10px 5px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  border-bottom: solid 1px var(--light-gray);
}

td{
    padding:10px 10px;
  text-align: left;
  vertical-align:middle;
  font-weight: 400;
  font-size: 16px;
    text-align: center;
}

.table-row-end{
border-top: 1px solid var(--light-gray);
padding-top:  1rem;

}

.height-content-fit{
    height: fit-content;
}
.box-shadow-md{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.checkout-image{
    height: 3rem;
    width: 3rem;
}
.total-row{
    border-top: 1px solid var(--light-gray);
    padding-top:1rem;
}

.total-data{
    padding-top:1rem
}
.address-section{
    cursor: pointer;
}
.badge{

    line-height: 1rem;
}