.card-product {
    width: 12rem;
    margin:1rem ;
    margin-bottom: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-img-main-product{
    width: 10rem;
    height: 8rem;
    transition: transform 250ms;
    margin-top:3rem;

}
.card-img-main-product:hover{
   transform: translateY(-10px)
}
.product-list{
    list-style: none;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   width: 12rem;
}
.main {
    grid-area: main;
    margin: 5rem 1rem 2rem 17rem;

}

.nav {
    grid-area: nav;
    width: 16rem;
    padding: 0 2rem;
    background-color: var(--secondary-nav-color);
    font-size: 0.9rem;
    display: flex;
    font-family: 'Inter', sans-serif;
    position: absolute;
    left: 0;
    top: 3.7rem;
    height: 100%;
    z-index: 2;
    margin: 0;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header header"
        "nav main main main "
        "footer footer footer footer";
}

.component-list {
    padding-top: 1rem;
    list-style: none;
    padding-bottom: 2rem;
}

.component {
    cursor: pointer;
    padding: 0.8rem;
    margin: none;

}

.component:hover {
    color: var(--secondary-one-color);
    font-weight: 800;
}

.range {
    width: fit-content;
    border: none;
    width: 10rem;
    margin-left: 10px;
}

.range:hover {
    box-shadow: none;
    border: none;
}

.margin-8-left{
    margin-left: 8px;
}
.addtocart{
    width: 11.75rem;
    margin: 0px;
}

.sortby{
    margin: 0rem 0 2rem  0;
}
label{
    cursor: pointer;
}

label:hover{
    font-weight: bold;
}
.rating-div{
    margin:2rem 0 2rem  0; ;
}
.card-badge{
    height: 2rem;
    color: var(--white);
    /* font-size: 12px; */
}
.material-icons-rating{
    font-size: 5px;


}
