
.card {
    width: 12rem;
    margin:1rem ;
    margin-bottom: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.addtocart{
    width: 11.8rem;
}
.card-img-main-wishlist{
    width: 10rem;
    height: 8rem;
    transition: transform 250ms;
    margin-top:3rem;

}
.card-img-wishlist:hover{
   transform: translateY(-10px)
}
.header-static {
    grid-area: header;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    z-index: 999;
}

.footer {
    grid-area: footer;
}

.wishlist-main {
    grid-area: main;
    margin: 9rem 5rem;
    min-height: 100vh;
}
.card-product {
    width: 12rem;
    margin:1rem ;
    margin-bottom: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-img-main-product{
    width: 10rem;
    height: 8rem;
    transition: transform 250ms;
    margin-top:3rem;

}
.card-img-main-product:hover{
   transform: translateY(-10px)
}
.wish{
    width: 39px;
    margin-left: 20px ;
}

