
:root {
    --primary: #389E6F;
}

.bg-primary {
    background-color: var(--primary);
}

.primary-color-bg {
    background-color: var(--primary);
}

.text-primary {
    color: var(--primary);

}

body {
    background-color: var(--light);
    
}

.material-icons {
    font-size: 1.5rem;
}

.menu-icons {
    width: 25rem;
    margin-right: 3rem;
}

.logo {
    padding: 0 3rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.header-simple{
        position: fixed;
        top: 0;
        z-index: 3;
        height: 3.5rem;
}
.search {
    border: none;
    background-color: var(--white);

    max-width: 20rem;
   
}
.flex-shrink-1{
    flex-shrink: 1;
}
.side-margin {
    margin: 0 5rem;
}

.footer {
    height: 10rem;
    color: var(--gray);
    font-size: 0.8rem;
    padding: 4rem 10rem;
    border-top: 1px solid var(--light-gray);
    position: relative;
    
}
.fixed-width{
    width: 2rem;
}
.username{
   font-size: 1rem;
   margin: 0 4px 0 4px;
   font-weight: bold;
}
.notfoundimage{
    display: flex;
    justify-content: center;
    height: 20rem;
    width: 20rem;
}
.search-button{
    flex-shrink: 0;
}


.options{
    height: fit-content;
    width: 5rem ;
    top: 3rem;
    right: 0rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}

.option{
    padding: 0.5rem ;
}
.flex-option{
    display: none;
}
.option:hover{
    cursor: pointer;
    background-color: var(--light-gray);
}
.username:hover{
    cursor: pointer;
}
@media only screen and (max-width :640px)
{
    .search{
        display: none;
    }
    .features{
        display: none;
    }
    .flex-option{
        display: block;
    }
    .flex-menu-icons{
        display: none;
    }
}

@media only screen and (max-width : 420px)
{
    .filter{ 
        display: none;
        }


    
}
.order-list{
    border: 1px solid var(--light-gray);
    border-left: none;
    border-right: none;
}
.border-bottom{
    border:none;
    border-bottom:1px solid;
}
.product-single-image{
    height: 15rem;
    width: 15rem;
}